{% extends 'core/base.html' %}
{% load static%}
{% load crispy_forms_tags %}
<!-- INICIO CONTENIDO-->
{% block contenido %}
<div class="container-fluid d-flex justify-content-center align-items-center vh-100"
    style="background-color: rgb(207, 207, 207)">
    <div class="bg-white p-5 rounded-5 text-dark shadow" style="width: 25rem">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form | crispy }}
            </table>
            <input type="submit" class="btn btn-success my-2" value="Guardar">
        </form>
    </div>
</div>


{% endblock %}
<!-- FIN CONTENIDO -->
{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% if messages %}
        {% for aux in messages %}
        <script>
            Swal.fire({
                title: 'Confirmación',
                text: '{{ aux }}',
                icon: 'success',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar'
            })
        </script>
        {% endfor %}
    {% endif %}
{% endblock %}