{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}

<h1 class="my-5 display-3 fw-bold ls-tight text-center">
  Evaluaciones<br />
  <span class="text-primary">De Talleres</span>
</h1>



<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'core/img/bob.jpg'%}" class="card-img-top" alt="Sunset Over the Sea"/>
        <div class="card-body">
          <p class="card-text text-center"><strong>Ruperto Perez</strong></p>
          <p class="card-text"><strong>Taller de yoga</strong></p>
          <p class="card-text"><strong>Aprobación 90%</strong></p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'core/img/elder.jpg'%}" class="card-img-top" alt="Sunset Over the Sea"/>
        <div class="card-body">
          <p class="card-text text-center"><strong>Pailita MJ</strong></p>
          <p class="card-text"><strong>Taller de Pintura</strong></p>
          <p class="card-text"><strong>Aprobación 70%</strong></p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'core/img/lalo.jpeg'%}" class="card-img-top" alt="Sunset Over the Sea"/>
        <div class="card-body">
          <p class="card-text text-center"><strong>Cris floyd</strong></p>
          <p class="card-text"><strong>Taller de Futbol</strong></p>
          <p class="card-text"><strong>Aprobación 50%</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}