{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}

<div class="py-5">
  <div class="mx-auto" style="text-align: center;">
    <div class="">
      <h6 class="text-success display-5">Calificaciones</h6>
      <h1 class="display-5 mb-0">Revisa las calificaciones de nuestros instructores</h1>
    </div>
    <br>
    <div class="row justify-content-center">

      
      <div class="card mx-2" style="width: 18rem;">
        <img src="{% static 'core/img/instructor1.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text text-uppercase fs-5">Jorge Riffo</p>
          <p class="card-text text-uppercase fs-3">85%</p>
        </div>
      </div>

            
      <div class="card mx-2" style="width: 18rem;">
        <img src="{% static 'core/img/instructora1.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text text-uppercase fs-5">Catalina Salazar</p>
          <p class="card-text text-uppercase fs-3">90%</p>
        </div>
      </div>

      <div class="card mx-2" style="width: 18rem;">
        <img src="{% static 'core/img/instructor2.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text text-uppercase fs-5">Fernando Campos</p>
          <p class="card-text text-uppercase fs-3">83%</p>
        </div>
      </div>


    </div>
  </div>
</div>




{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'core/js/mensajeProducto.js' %}"></script>
{% endblock %}



