{% extends 'core/base.html' %}
{% load static%}
{% load crispy_forms_tags %}

<!-- INICIO CONTENIDO-->
{% block contenido %}
<br>
<div class="container-fluid d-flex justify-content-center align-items-center vh-300">
    <div class="bg-white p-5 rounded-5 text-dark shadow" style="width: 35rem">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form | crispy }}
            </table>
            <input type="submit" class="btn btn-verde my-2" value="Guardar">
        </form>
    </div>
</div>


{% endblock %}
<!-- FIN CONTENIDO -->