{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}


<!-- DESCRIPCION INICIO-->
<div class="container-fluid py-5">
  <div class="container">
    <div class="row gx-5">
      

      <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">

        <div class="card" >
          <div class="card-body">
            <h5 class="card-title display-5 text-success mb-0">Explora, Aprende y Vive en Plenitud</h5>
            <p class="card-text">Nuestros talleres están cuidadosamente diseñados para fomentar la vitalidad, la conexión y la exploración. Desde actividades creativas que despiertan la imaginación hasta programas de bienestar que promueven la salud integral, cada taller es una invitación a vivir en plenitud.</p>
          </div>
        </div>
        <br>
        <div class="card" >
          <div class="card-body">
            <h5 class="card-title display-5 text-success mb-0">¡Únete a Nuestra Comunidad Activa!</h5>
            <p class="card-text">Ya sea que busques explorar nuevas habilidades, encontrar nuevas personas o simplemente disfrutar de momentos de creatividad, Vida Activa es el lugar perfecto para ti. Únete a nuestra comunidad y descubre el poder del aprendizaje continuo, la conexión social y la alegría de vivir bien en todas las etapas de la vida.</p>
          </div>
          <a href="{% url 'login' %}" class="btn btn-success">Iniciar Sesión</a>
        </div>

      </div>


      <div class="col-lg-7">
        <div class="position-relative h-100">
          <img class="position-absolute w-100 h-100 rounded" src="{% static 'core/img/inicio.jpg'%}"
            style="object-fit: cover;">
        </div>


      </div>
    </div>
  </div>
</div>
<!-- DESCRIPCION FIN -->

<!-- TALLERES INICIO -->
<div class="py-5">
  <div class="mx-auto" style="text-align: center;">
    <div class="">
      <h6 class="text-success display-5 text-alaing">Talleres</h6>
      <h1 class="display-5 mb-0">Infórmate sobre nuestros talleres disponibles.</h1>
    </div>
    <br>
    <div class="row">
      {% for taller in talleres %}

        <div class="card text-bg-light mb-3 mx-auto" style="max-width: 25rem;">
          <div class="card-header fs-4">{{ taller.nombre }}</div>
          <div class="card-body">
            <p class="card-text">{{ taller.descripcion }}</p>
            <p class="card-text">Instructor: {{ taller.nombreInstructor }}</p>
            <p class="card-text">Municipalidad: {{ taller.municipalidad }}</p>
            <p class="card-text">Sala: {{ taller.sala }}</p>
            <p class="card-text">Fecha de inicio: {{ taller.fechaInicio }}</p>
            <p class="card-text">Fecha de término: {{ taller.fechaTermino }}</p>
            {% if user.is_authenticated and user.groups.exists %}
            {% for group in user.groups.all %}
            {% if group.name == 'adulto' %}
            <a class="text-light btn btn-success" href="{% url 'inscripcion' taller.id %}">Inscribir</a>
            {% endif %}
            {% endfor %}
            {% endif %}
          </div>
        </div>

      {% endfor %}
    </div>
  </div>
</div>
<!-- TALLERES FIN -->




{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'core/js/mensajeProducto.js' %}"></script>
{% endblock %}