{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}

 <br>
  <div class="mx-auto" style="text-align: center;">
    <div class="">
      <h6 class="text-success display-5">Materiales</h6>
      <h1 class="display-5 mb-0">Aqui encontraras los materiales solicitados para los talleres</h1>
    </div>
  </div>
  <br>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      
    </div>
    <div class="col-md-auto">
      <table class="table align-middle">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Taller</th>
            <th scope="col">Material</th>
            <th scope="col">Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Dinamicas de grupo</td>
            <td>Balon pequeño</td>
            <td><i class="">4</i></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Dinamicas de grupo</td>
            <td>Cartas</td>
            <td><i class="">5</i></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Lectura</td>
            <td>Libros</td>
            <td>
                <i class="">10</i>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Lectura</td>
            <td>Hojas y lapices</td>
            <td>
                <i class="">15</i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col col-lg-2">
      
    </div>
  </div>
</div>


{% endblock %}