{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}


<div style="text-align: center; padding: 20px;">
    <h1>¡Pago realizado con éxito!</h1>
    <p>La transacción se ha completado correctamente</p>
    <div style="margin-top: 20px; padding: 10px; background-color: #f9f9f9; border-radius: 4px;">
        <p><strong>Total pagado:</strong> $40.000</p>
        <p><strong>Fecha de pago:</strong> 27 de noviembre de 2023</p>
    </div>
    <a href="{% url 'index' %}"><i class="fas fa-angle-left me-2"></i>Volver</a>
</div>

{% endblock %}