{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}



<div class="py-5">
    <div class="mx-auto" style="text-align: center;">
      <div class="">
        <h6 class="text-success display-5 text-alaing">Mi Cuenta</h6>
        <h1 class="display-5 mb-0">Aqui podras visulizar tus datos personales</h1>
        <br>
        <br>

        <div class="row justify-content-center">
        <div class="card text-bg-light mb-3 mx-2" style="max-width: 50rem;">
            <div class="card-header fs-4 text-uppercase">{{ instructor.primer_nombre }} {{ instructor.segundo_nombre }} {{ instructor.primer_apellido }} {{ instructor.segundo_apellido }}</div>
            <div class="card-body">
              <p class="card-text text-uppercase">Direccion: {{ instructor.direccion }}</p>
              <p class="card-text text-uppercase">Fecha de nacimiento: {{ instructor.fecha_nacimiento }}</p>
              <p class="card-text text-uppercase">Contacto: {{ instructor.telefono }}</p>
              <p class="card-text text-uppercase">Correo: {{ instructor.correo }}</p>
              <p class="card-text text-uppercase">Sueldo: {{ instructor.sueldo }}</p>
              <p class="card-text text-uppercase">Comuna: {{ instructor.comuna }}</p>
              <p class="card-text text-uppercase">Genero: {{ instructor.genero }}</p>
            </div>
          </div>
        </div>
        </div>
        <br>
        <a href="#" class="btn btn-info text-white">Editar datos</a>
      </div>
    </div>
  </div>
  
  

{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'core/js/mensajeProducto.js' %}"></script>
{% endblock %}