{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
<h1 class="my-5 display-3 fw-bold ls-tight text-center">
    Pago a<br />
    <span class="text-primary">Realizar</span>
  </h1>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      
    </div>
    <div class="col-md-auto">
        <body>
            <table border="1" cellpadding="10" cellspacing="0">
                <thead>
                    <tr>
                        <th>Motivo</th>
                        <th>Informacion</th>
                        <th>Monto (CLP)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Taller Yoga</td>
                        <td>27-11-2023</td>
                        <td>$10.000</td>
                    </tr>
                    <tr>
                        <td>Bono</td>
                        <td>+80% de aprobacion</td>
                        <td>$30.000</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td style="color: green;"><strong>$40.000</strong></td>
                    </tr
                </tbody>
            </table>
            <a href="{% url 'mensaje' %}">
                <button type="button" class="btn btn-primary" data-mdb-ripple-init>Realizar Pago</button>
              </a>
            <a href="{% url 'index' %}"><i class="fas fa-angle-left me-2"></i>Volver</a>
        </body>
    </div>
    <div class="col col-lg-2">
      
    </div>
  </div>
</div>



{% endblock %}