{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carta de Bonos</title>
</head>
<body>
    <div style="text-align: center; padding: 20px;">
        <h1>Resultados</h1>
        <p>¡Has sido seleccionado como Instructor!</p>
        <div style="margin-top: 20px; padding: 10px; background-color: #f9f9f9; border-radius: 4px;">
            <p><strong>Su Postulacion a sido aceptada con éxito</p>
            <p><strong>Debes dirigirte hacia la Municipalidad de Puente Alto</p>
            <p><strong>Fecha de Citacion:</strong> 12 de diciembre de 2023</p>
        </div>
    </div>
</body>
</html>
{% endblock %}