{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
<h1>Listado de Usuarios</h1>
  <ul>
    {% for usuario in usuarios %}
      <li>{{ usuario.rut }}-{{ usuario.dv }} {{ usuario.nombre }} {{ usuario.apellido }}
        <a onclick="deleteAdulto('{{ usuario.id }}')" class="btn btn-primary" style="border-radius: 10px; margin: 3px;"><i class="bi bi-trash"></i></a><!--eliminar-->
      </li>
    {% endfor %}
  </ul>
{% endblock %}
{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="{% static 'core/js/mensajeProducto.js' %}"></script>
{% endblock %}
